.intro{
    font-size: 45px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 150px;
    text-decoration-color: transparent;
    font-weight: bolder;
}

.intro-p{
    font-size: 20px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
}

.play-btn{
    color:white;
    background-color: rgb(47, 65, 21);
}